<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CanopeeElectronizedAgent</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css"/>
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <div class="wrapper">
        <aside class="left-section">
            <nav id="sidebar" class="main-menu active">
                <header class="sidebar-header">
                    <i class="far fa-tree-alt fa-2x"></i>
                    <h3>Canopee</h3>
                </header>
                <section class="menu-content">
                    <ul class="list-unstyled components">
                        <li class="active">
                            <a asp-controller="Home" asp-action="Index">
                                <i class="fas fa-home"></i>
                                Home
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Logs" asp-action="GetAllLogs">
                                <i class="fas fa-newspaper"></i>
                                Logs
                            </a>
                        </li>
                    </ul>
                </section>
            </nav>
        </aside>

        <section id="main-section" class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </section>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - theLoneBlacksheep.fr - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>

    </div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)

</body>
</html>
