@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <p>Welcome to the Canopee Agent Management interface.</p>
    
    <p>Canopee Agent is an open source multiplatform ETL agent use to Collect datas on the running station </p>
    
    <p> Please contact your administrator if you need more information</p>
</div>
